<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a15850.supcrm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.TabActivity_List_Customer" />
        <activity android:name=".UI.TabActivity_List_Opportunity" />
        <activity android:name=".UI.TabActivity_List_Contact" />
        <activity android:name=".UI.TabActivity_List_Contract" />
        <activity
            android:name=".UI.TabActivity_Detail_Customer"
            android:label="@string/title_activity_tab_activity__another"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".UI.TabActivity_Detail_Opportunity"
            android:label="@string/title_activity_tab_activity__another"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.Activity_Detail_Contact"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".UI.Activity_Detail_Product"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".UI.Activity_Business" />
        <activity android:name=".UI.Activity_Report" />
        <activity android:name=".UI.Activity_Report_Trend" />
        <activity android:name=".UI.Activity_Report_Track" />
        <activity android:name=".UI.Activity_Report_Target" />
        <activity android:name=".UI.Activity_List_Product" />
        <activity android:name=".UI.Activity_Report_Filter" />
        <activity android:name=".Data.Activity_TestApi" />
        <activity android:name=".UI.Activity_Report_StaffPerformance" />
        <activity android:name=".UI.Activity_Report_Situation" />
        <activity android:name=".UI.Activity_Detail_Customer"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity android:name=".UI.Activity_Detail_Opportunity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity android:name=".UI.Activity_Detail_Contract"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
    </application>

</manifest>